/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black (text) :			#000
Dark gray (links, h1) :		#008dde
Mid gray (visited links) :	#0006a1
Light gray (h2) :		#747474
*/

/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */

/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */

/*     sous partie      */
a
{
    color: white;
}
.mainSection
{
    margin-top: 130px;
}

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */

/*     Navigation      */
.fixMainBarr
{
    background: rgba(0,0,0,0.3);
}
#banner
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../images/train1.jpg) no-repeat center center;
    height: 800px;
    width: 100%;
}
.home_Main_Title h1
{
    text-align: center;
    font-size: 2.5em;
    color: white;
    border: solid 1px white;
    text-shadow: 1px 1px 10px #000;
}
.home_Main_Title p
{
    text-align: center;
    font-size: 1.9em;
    color: white;
    text-shadow: 1px 1px 10px #000;
}

/*     Slider      */

/* ---------------------------------------- */
/* ==            SECTION                */
/*---------------------------------------- */

/*     main menu      */
.chapter_slim
{
    font-size: 1.25rem;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 300px;
}
#previewChapter 
{
    background: #e9ecef;
    display: flex; 
    align-items: center;
}
#previewChapter section div h2
{
    text-align: center;
}

/*     sous partie      */
#home_words
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background: url(../images/aurore2.jpg)no-repeat center center;
    background-attachment: fixed;
}
#home_words div
{
    background: none;
    text-align: center;
    color: white;
}

/*     sous partie      */

/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==            SUBSCRIBE                */
/*---------------------------------------- */

/* ---------------------------------------- */
/* ==            LOGIN                */
/*---------------------------------------- */
.loginContainer form
{
    max-width: 330px;
    margin: 0 auto;
}
/* ---------------------------------------- */
/* ==            ROMAN                */
/*---------------------------------------- */
.romanContainer a
{
    color: black;
}
.romanContainer .row 
{
    display: flex;
    flex-wrap: wrap;
}
.romanMainTitle
{
    margin-bottom:100px;
    text-align: center;
}
/* ---------------------------------------- */
/* ==            ONE POST                */
/*---------------------------------------- */

/* ---------------------------------------- */
/* ==            ABOUT                 */
/*---------------------------------------- */

