/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black (text) :			#000
Dark gray (links, h1) :		#008dde
Mid gray (visited links) :	#0006a1
Light gray (h2) :		#747474
*/

/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */

/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */

/*     sous partie      */
a
{
    color: white;
}
h2
{
    color: cornflowerblue;
}
a:hover
{
    color: cornflowerblue;
    text-decoration: none;
}
.mainSection
{
    margin-top: 130px;
}
.mainColorBg
{
    background: #656582 !important;
    border: #656582 !important; 
    color: white !important;
}

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */

/*     Navigation      */
.fixMainBarr
{
    background: rgba(35, 37, 76, 0.9);
}
nav.fixMainBarr.main-navbar.navbar.fixed-top ul.nav.navbar-nav
{
    width: 390px;
    flex-direction: row;
    justify-content: space-around;
}
nav.fixMainBarr.main-navbar.navbar.fixed-top a p 
{
    margin: auto 0;
}
nav.fixMainBarr.main-navbar.navbar.fixed-top a.navbar-brand
{
    margin-right: 0;
}
nav.fixMainBarr.main-navbar.navbar.fixed-top div.dropdown-menu.show
{
    left: 150px; 
}
nav.fixMainBarr.main-navbar.navbar.fixed-top p.welcomHome
{
    color: white;
    font-style: italic;
}
nav.fixMainBarr.main-navbar.navbar.fixed-top p.welcomHome span.welcomLogin
{
    color: green;
}
nav.fixMainBarr.main-navbar.navbar.fixed-top p.welcomHome:hover
{
    color:cornflowerblue;
    font-style: normal;
}






#banner
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../images/train1.jpg) no-repeat center center;
    height: 800px;
    width: 100%;
}

footer
{
    height: 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer.container-fluid p
{
    color:lightgray;
}









.home_Main_Title h1
{
    text-align: center;
    font-size: 2.5em;
    color: white;
    border: solid 1px white;
    text-shadow: 1px 1px 10px #000;
}
.home_Main_Title p
{
    text-align: center;
    font-size: 1.9em;
    color: white;
    text-shadow: 1px 1px 10px #000;
}

/*     Slider      */

/* ---------------------------------------- */
/* ==            HOME PAGE                */
/*---------------------------------------- */

/*     main menu      */
.chapter_slim
{
    font-size: 1.25rem;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 300px;
}
div#previewChapter.container-fluid 
{
    border: 5px solid #23254c;
    background: black;
    color: white;
}

#previewChapter section div h2
{
    text-align: center;
}
#previewChapter.container-fluid div.jumbotron
{
    background: rgba(35, 37, 76, 0.7);
}
#previewChapter.container-fluid div.post-comments
{
    border-bottom: 1px solid lightgray;
}
#previewChapter.container-fluid div.post-comments p.meta
{
    font-style: italic;
}
#previewChapter.container-fluid div.post-comments p.homeLastComment
{
    font-weight: bold;
}
#previewChapter.container-fluid div.post-comments span.homeAuthorComment
{
    color: cornflowerblue;
}
#previewChapter.container-fluid h3
{
    margin: 40px 0;
}
/*     sous partie      */
#home_words
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background: url(../images/aurore2.jpg)no-repeat center center;
    background-attachment: fixed;
}
#home_words div
{
    background: none;
    text-align: center;
    color: white;
}
#home_words div h2
{
    color: white;
}
/*     sous partie      */

/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==            SUBSCRIBE                */
/*---------------------------------------- */
div.subscribeContainer.container div a 
{
    color: lightslategray;
}
div.subscribeContainer.container a:hover
{
    color: cornflowerblue;
}
/* ---------------------------------------- */
/* ==            LOGIN                */
/*---------------------------------------- */
.loginContainer form, .subscribeContainer form
{
    max-width: 330px;
    margin: 0 auto;
}
/* ---------------------------------------- */
/* ==            ROMAN                */
/*---------------------------------------- */

.romanContainer
{
    margin-bottom: 100px;
    margin-top: 100px;
}
.romanContainer .row 
{
    display: flex;
    flex-wrap: wrap;
}
.romanMainTitle
{
    margin-bottom:100px;
    text-align: center;
    background: url(../images/volcano.jpg)no-repeat center center;
}
.romanMainTitle h1
{
    color: white;
    text-decoration: overline;
}
.romanMainTitle h2
{
    color: white;
}
/* ---------------------------------------- */
/* ==            ONE POST                */
/*---------------------------------------- */
div.addComContainer.container-fluid .row
{
   justify-content:center;
}

section.post_commentSection div.post_commentsContainer div.row
{
    justify-content: center;
}

div.post_commentsContainer.container article.row
{
    border-top: 1px solid lightgray;
}

div.post_commentsContainer.container a.btn.btn-default.btn-sm
{
    color:red;
}
div.post_commentsContainer.container div.col-md-10.col-sm-10
{
    margin: 0 auto;
}
div.post_commentsContainer.container header.text-center
{
    border: 1px solid black;
}
div#top_mainSection_PostView.mainSection p.chapter_slim
{
    height: 100%;
    text-align: left;
}
/* ---------------------------------------- */
/* ==            ABOUT                 */
/*---------------------------------------- */
.aboutme
{
    margin-top: 120px;
    margin-bottom: 120px;
}
/* ---------------------------------------- */
/* ==            ADMIN                 */
/*---------------------------------------- */

/*Admin*/
.mainAdminContainer.container-fluid
{
    
    margin-top: 80px; 
    display: flex;
    flex-direction: row;
    padding: 0;
}
/*Admin Nav Top*/
header#header.navAdmin.fixed-top
{
    top: 80px;
    background: black;
    color: white;
    padding: 25px 0;
    margin-bottom: 15px;
    z-index: 10;
}
header#header.navAdmin.fixed-top i.fas.fa-user-cog
{
    color: white;
    font-size: 1.5em;
}
header#header.navAdmin.fixed-top small
{
    color: rgba(255,255,255,0.3);
}
header#header.navAdmin.fixed-top div.dropdown
{
    padding-top: 10px;
}
header#header.navAdmin.fixed-top div.dropdown button
{
    background: lightgray;
}
header#header.navAdmin.fixed-top li
{
    padding: 5px;
}

/*Admin Main Section*/
section#mainAdminSection
{
    margin-top: 220px;
    margin-bottom: 50px;
}
section#mainAdminSection a.list-group-item, header#header.navAdmin.fixed-top a
{
    color: black;
}
section#mainAdminSection a.list-group-item:hover, header#header.navAdmin.fixed-top li:hover
{
    background: rgba(0,0,0,0.1);   
}
/*Admin Side Nav*/
section#mainAdminSection a.head.list-group-item:hover
{
    background: cornflowerblue;
}
section#mainAdminSection div.list-group
{
    text-align: left;
}

/*Admin Pannel Section*/
section#mainAdminSection div.container div.row div.col-md-9 div.card div.card-body
{
    display: flex;
    flex-direction: row;
}



/*Admin Articles Page*/

section#mainAdminSection div.container div.row div.col-md-9 div.card div.adminArticles.card-body
{
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

section#mainAdminSection div.container div.row div.adminArticles.col-md-9 
{
    display: flex;
    flex-wrap: wrap;
}
section#mainAdminSection div.container div.row div.adminArticles.col-md-9 div.card-footer.text-muted div
{
    display: flex;
    justify-content: space-evenly;
}

section#mainAdminSection div.card-footer.text-muted div.container div.col-md-6 a.btn.btn-secondary:hover
{
    background: white;
    color: #6c757d;
    border: #6c757d;
}
section#mainAdminSection div.card-footer.text-muted div.container div.col-md-6 a.btn.btn-outline-secondary:hover
{
    background: #6c757d;;
    color: white;
}




nav.sideAdminNav.navbar.navbar-default
{
    height: 100%;
    background: #23254c;
    max-width: 300px;
}
nav.sideAdminNav.navbar.navbar-default div.container-fluid
{
    display: flex;
    flex-direction: column;
}
div.mainAdminContainer.container-fluid p
{
    font-size: 1.25rem;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 200px;
}
div#listPost_Admin.container, div#listCom_Admin.container
{
    margin-top: 50px;
}

/* ---------------------------------------- */
/* ==            ADMIN                 */
/*---------------------------------------- */
