/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black (text) :			#000
Dark gray (links, h1) :		#008dde
Mid gray (visited links) :	#0006a1
Light gray (h2) :		#747474
*/

/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */

/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */

/*     sous partie      */
a
{
    color: white;
}
h2, h3, h4
{
    color: cornflowerblue;
}
a:hover
{
    color: cornflowerblue;
    text-decoration: none;
}
.mainSection
{
    margin-top: 130px;
}

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */

/*     Navigation      */
.fixMainBarr
{
    background: rgba(35, 37, 76, 0.9);
}
nav.fixMainBarr.main-navbar.navbar.fixed-top ul.nav.navbar-nav
{
    width: 390px;
    flex-direction: row;
    justify-content: space-around;
}
nav.fixMainBarr.main-navbar.navbar.fixed-top a p 
{
    margin: auto 0;
}
nav.fixMainBarr.main-navbar.navbar.fixed-top div.dropdown-menu.show
{
    left: 150px; 
}
#banner
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../images/train1.jpg) no-repeat center center;
    height: 800px;
    width: 100%;
}

footer
{
    height: 250px;
    background: black;
}









.home_Main_Title h1
{
    text-align: center;
    font-size: 2.5em;
    color: white;
    border: solid 1px white;
    text-shadow: 1px 1px 10px #000;
}
.home_Main_Title p
{
    text-align: center;
    font-size: 1.9em;
    color: white;
    text-shadow: 1px 1px 10px #000;
}

/*     Slider      */

/* ---------------------------------------- */
/* ==            HOME PAGE                */
/*---------------------------------------- */

/*     main menu      */
.chapter_slim
{
    font-size: 1.25rem;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 300px;
}
div#previewChapter.container-fluid 
{
    border: 5px solid #23254c;
    background: black;
    color: white;
}

#previewChapter section div h2
{
    text-align: center;
}
#previewChapter.container-fluid div.jumbotron
{
    background: rgba(35, 37, 76, 0.7);
}
/*     sous partie      */
#home_words
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background: url(../images/aurore2.jpg)no-repeat center center;
    background-attachment: fixed;
}
#home_words div
{
    background: none;
    text-align: center;
    color: white;
}

/*     sous partie      */

/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==            SUBSCRIBE                */
/*---------------------------------------- */
div.subscribeContainer.container div a 
{
    color: lightslategray;
}
div.subscribeContainer.container a:hover
{
    color: cornflowerblue;
}
/* ---------------------------------------- */
/* ==            LOGIN                */
/*---------------------------------------- */
.loginContainer form, .subscribeContainer form
{
    max-width: 330px;
    margin: 0 auto;
}
/* ---------------------------------------- */
/* ==            ROMAN                */
/*---------------------------------------- */
.romanContainer a
{
    color: black;
}
.romanContainer .row 
{
    display: flex;
    flex-wrap: wrap;
}
.romanMainTitle
{
    margin-bottom:100px;
    text-align: center;
}
/* ---------------------------------------- */
/* ==            ONE POST                */
/*---------------------------------------- */
div.addComContainer.container-fluid .row
{
   justify-content:center;
}

section.post_commentSection div.post_commentsContainer div.row
{
    justify-content: center;
}

div.post_commentsContainer.container article.row
{
    border-top: 1px solid lightgray;
}

div.post_commentsContainer.container a.btn.btn-default.btn-sm
{
    color:red;
}
div.post_commentsContainer.container div.col-md-10.col-sm-10
{
    margin: 0 auto;
}
div.post_commentsContainer.container header.text-center
{
    border: 1px solid black;
}
div#top_mainSection_PostView.mainSection p.chapter_slim
{
    height: 100%;
    text-align: left;
}
/* ---------------------------------------- */
/* ==            ABOUT                 */
/*---------------------------------------- */

/* ---------------------------------------- */
/* ==            ADMIN                 */
/*---------------------------------------- */
.mainAdminContainer.container-fluid
{
    margin-top: 88px;
    display: flex;
    flex-direction: row;
    padding: 0;
}

nav.sideAdminNav.navbar.navbar-default
{
    height: 100%;
    background: #23254c;
    max-width: 300px;
}
nav.sideAdminNav.navbar.navbar-default div.container-fluid
{
    display: flex;
    flex-direction: column;
}